.collateral_list {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 90vh;
}

.collateral_leftlist,
.collateral_middlelist,
.collateral_rightlist {
    min-height: 60vh;
    min-width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}