.main_about_section {
    display: block;
    color: aliceblue;
    text-align: center;
}

.about_title {
    padding: 5px 0px 5px 0px;
    display: flex;
    background-color: rgba(255, 153, 0, 0.993);
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
}

.about_maincontent {
    display: flex;
    align-items: center;
    min-height: 30vh;
    padding: 0 30vh 0 30vh;
    background-color: purple;
}

.main_about_list {
    display: block;
    background-color: blue ;
}