.main_about_section {
    font-size: large;
    display: block;
    color: aliceblue;
    text-align: center;
}

.about_title {
    padding: 5px 0px 5px 0px;
    display: flex;
    background-color: #ff6700;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
}

.about_maincontent {
    display: flex;
    align-items: center;
    min-height: 30vh;
    padding: 5vh 30vh 5vh 30vh;
    background-color: #555555;
}

.main_about_list {
    display: block;
    background-color: #333333;
    min-height: 35vh;
}

.main_about_list p {
    font-size: xx-large;
    font-weight: bolder;
}

.main_about_list ul{
    margin: 0vh;
}