.header {
    display: flex;
    background-color: #bdbdbd;
    width: 100%;
    /* animation-name: transform;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; */
}

@keyframes transform {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.left_list {
    list-style-type: none;
}

.list_omotec_logo {
    margin-top: 1rem;
}

.list_omotec_logo img:hover {
    border-radius: 10%;
}

.hashtag_section p {
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

.right_list {
    align-self: center;
    margin-left: 28%;
}

.right_list ul {
    list-style-type: none;
}

.right_list a {
    color: var(--color-primary-400);
}

.right_list a:hover,
.right_list a.active {
    color: var(--color-primary-800);
    text-decoration: none;
    color: rgb(34, 34, 209);
}