.header {
    display: flex;
}

.left_list {
    list-style-type: none;
}

.right_list {
    width: 100%;
    align-self: center;
}

.right_list ul {
    list-style-type: none;
}

.right_list a {
    color: var(--color-primary-400);
}

.right_list a:hover,
.right_list a.active {
    color: var(--color-primary-800);
    text-decoration: none;
    color: rgb(34, 34, 209);
}