.announcement_list {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: gray;
    /* min-height: 100vh; */
    min-height: fit-content;
}