.header {
    max-width: 60rem;
    min-width: 60rem;
    margin: auto;
}

.list {
    width: 60rem;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    height: 3rem;
    list-style-type: none;
}

.list a {
    text-decoration: none;
    font-weight: bold;
}

.list a:hover,
.list a:active {
    color: purple;
    font-size: x-large;
}