.about_subnavsection {
    display: block;
    color: white;
    position: relative;
    width: 100%;
}

.about_subnavsection_social {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdbdbd;
    padding-top: 0.25rem;
}

.subnav_list1 {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.about_subnavsection_links {
    background-color: black;
}

.subnav_list2 {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.subnav_list2 a {
    color: white;
    text-decoration: none;
}

.subnav_list2 a:hover {}