.about_subnavsection {
    display: block;
    color: white;
}

.about_subnavsection_social {
    background-color: orange;
}

.subnav_list1 {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.about_subnavsection_links {
    background-color: rgb(35, 35, 241);
}

.subnav_list2 {
    list-style-type: none;
}